body{
    background-image:url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    position:relative;
    background-color: #999;

}

body{
    color: white;
}