body{
    background-image:url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    position:relative;
    background-color: #999;

}
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    color: white;
}
iframe {
    width: 560px;
    display: block;
    margin: 0 auto;
}
